<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sentiment101</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="container topnav">
		    <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand topnav" href="/"><img style="height:inherit; margin-top:-15px; margin-left: -60px" src="/img/logo.gif"></a>
		    </div>

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		        <ul class="nav navbar-nav navbar-right">
		            <li>
		                <a href="/">Home</a>
		            </li>
			    <li>
		                <a href="/dashboard">Sentiment</a>
		            </li>
		            <li>
		                <a href="/#contact">Contact</a>
		            </li>
		        </ul>
		    </div>
		    <!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
			<form id="searchForm" method="POST" action="getSentiment">
                            <div class="input-group custom-search-form">
                                <input id="query" name="query" type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
			</form>
                        </li>
                        <li>
                            <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="pie-chart">Sentiment Score</a>
                                </li>
                                <li>
                                    <a href="bar-chart">Sentiment Histogram</a>
                                </li>
								<li>
                                    <a href="tweet-map">Sentiment Geo-tweet</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Histogram Chart</h1>		    
   		    <div id="columnchart_values" style="width: 100%; height: 500px;"></div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
           
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

      <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>

    <script>
	$(function() {
	google.setOnLoadCallback(getAllTweets);

	function getAllTweets() {
		var params = {demoParam:"demoVal"}; 
        	$.get('/getAllTweets', params, function( data ) {
	        		drawColumnChart(JSON.parse(data));
	        });
        }

	function drawColumnChart(data1) {
	    	var color = ['#b87333','silver','gold'];
	    	var sArray = [['Sentiment', 'Tweet Count', { role: 'style' }, { role: 'annotation' }]];
	    	
		    var item1 = ['Positive Sentiment', Number.parseInt(data1[0].positiveCount), color[0], 'Positive Sentiment'];
		    sArray.push(item1);
		    var item2 = ['Negative Sentiment', Number.parseInt(data1[0].negativeCount), color[1], 'Negative Sentiment'];
		    sArray.push(item2);
		    var item3 = ['Neutral Sentiment', Number.parseInt(data1[0].neutralCount), color[2], 'Neutral Sentiment'];
		    sArray.push(item3);
		    
		var data = google.visualization.arrayToDataTable(sArray);

		  var view = new google.visualization.DataView(data);
	      		view.setColumns([0, 1,
		               { calc: "stringify",
		                 sourceColumn: 1,
		                 type: "string",
		                 role: "annotation" },
		               2]);
	
		      var options = {
			title: "Twitter Sentiment Analysis",
			width: 600,
			height: 400,
			bar: {groupWidth: "95%"},
			legend: { position: "none" },
		      };
		      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
		      chart.draw(view, options);
	    }
	});
    </script> 

</body>

</html>
