<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sentiment101</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    
     <!-- Timeline CSS -->
    <link href="../dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	
	<div id="loader" style="display:none; width:80%; height:50%; margin-left: 30%; margin-right: auto;" >
		<img src="/img/loader.gif" height="50%" width="50%" alt=""/>
	</div> 
	
    <div id="wrapper">
		
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="container topnav">
		    <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand topnav" href="/"><img style="height:inherit; margin-top:-15px; margin-left: -60px" src="/img/logo.gif"></a>
		    </div>

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		        <ul class="nav navbar-nav navbar-right">
		            <li>
		                <a href="/">Home</a>
		            </li>
			    <li>
		                <a href="/dashboard">Sentiment</a>
		            </li>
		            <li>
		                <a href="/#contact">Contact</a>
		            </li>
		        </ul>
		    </div>
		    <!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
			<form id="searchForm" method="POST" action="getSentiment">
			<!-- Default ID value is set for first time load - do not change -->
                            <div class="input-group custom-search-form">
                                <input id="query" name="query" type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button id="searchBtn" class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
			</form>
                        </li>
                        <li>
                            <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                 <li>
                                    <a href="pie-chart">Sentiment Score</a>
                                </li>
                                <li>
                                    <a href="bar-chart">Sentiment Histogram</a>
                                </li>
								<li>
                                    <a href="tweet-map">Sentiment Geo-tweet</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>		    
		    		<div id="myCanvasContainer">
					 <canvas width="1000" height="300" id="myCanvas">
					  	  <p>Anything in here will be replaced on browsers that support the canvas element</p>
					 </canvas>
					</div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
           
            <div class="row">
                <div class="col-lg-12">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Tweet Feed
                        </div>
                        <!-- /.panel-heading -->
                        <div style="height: 500px; overflow-Y:scroll;" class="panel-body">
                            <ul id="tweet-feed" class="timeline">
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>    
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    
    <script src="/js/tagcanvas.min.js" type="text/javascript"></script>

  
    
    <script type="text/javascript">
	  $(function() {
	  	
		  var options = {
		  textColour: '#319ed1',
		  textHeight: 40,
		  depth: 0.99,
		  weight: true,
		  weightMode: 'size',
		  weightSize: 2.0,
		  weightSizeMin: 100,
		  weightSizeMax: 400,
		  padding: 10,
		  radiusX: 5
		 };
		  
		  $("#searchBtn").click(function() {
		  	$("#loader").show();
		  	$("#wrapper").hide();
		  	$("#searchForm").submit();
		  });
		  
		  
		  
		 /* $("#searchBtn").click(function() {
			  	alert('in search click');
			  	var query1 = $('#query').val();
			  	$.ajax({
					  	url : "http://192.168.43.248:8080/sentimentAnalysis/search",
					  	type: "GET",
					  	data: {
					  		query : query1
					  	}
				  	}).done(function( data, txtStatus, xhr ) {
				  		alert(data);
				  	});
		  }); */
		  
		  window.onload = function() {
		    
		      populateTagList();
		      
		      populateTweetFeed();
		    
		  };
		  
		  
		  function populateTagList() {
		  	var params = {};
		  	$.get('/getAllHashTags', params, function( data ) {
		        		var myData = JSON.parse(data);
		        		
		        		$.each(myData[0].hashTags, function() {
			            	$('#myCanvas').append('<a href="#" style="font-size:'+ this.count +'" > #'+ this.tagName +' </a>');
			        	});
			        	
			        	try {
			        		TagCanvas.Start('myCanvas', '', options);
			        	} catch(e) {
					      // something went wrong, hide the canvas container
					      document.getElementById('myCanvasContainer').style.display = 'none';
					    }
		        });
		  }
		  
		  
		  function populateTweetFeed() {
		  	var params = {};
		  	$.get('/getTweetFeed', params, function( data ) {
		        		var myData = JSON.parse(data);
		        		var i = 0;
		        		$.each(myData[0].tweetList, function() {
			            	if(i % 2 == 0) {
			            		populateNormalTweet(this);
			            	} else {
			            		populateInvertedTweet(this);
			            	}
			            	i++;
			        	});
			        	
			        	try {
			        		TagCanvas.Start('myCanvas', '', options);
			        	} catch(e) {
					      // something went wrong, hide the canvas container
					      document.getElementById('myCanvasContainer').style.display = 'none';
					    }
		        });
		  }
		  
		  
		  function populateNormalTweet(tweet) {
			var str = ' <li> '+
                      ' <div class="timeline-badge"><i class="fa fa-check"></i> ' +
                      ' </div> ' +
                      ' <div class="timeline-panel"> ' +
                      ' <div class="timeline-heading"> ' +
                      ' <h4 class="timeline-title">'+ tweet.user.userName +'</h4> ' +
                      ' <p><small class="text-muted"><i class="fa fa-clock-o"></i> '+ tweet.createdAt +' via Twitter</small> ' +
                      ' </p> ' +
                      ' </div> ' +
                      ' <div class="timeline-body"> ' +
                      ' <p> ' + tweet.tweetText + ' </p> ' +
                      ' </div> </div> </li>';
		  	$('#tweet-feed').append(str);
		  }
		  
		  function populateInvertedTweet(tweet) {
		  	var str = ' <li class="timeline-inverted">'+
                      ' <div class="timeline-badge"><i class="fa fa-check"></i> ' +
                      ' </div> ' +
                      ' <div class="timeline-panel"> ' +
                      ' <div class="timeline-heading"> ' +
                      ' <h4 class="timeline-title">'+ tweet.user.userName +'</h4> ' +
                      ' <p><small class="text-muted"><i class="fa fa-clock-o"></i> '+ tweet.createdAt +' via Twitter</small> ' +
                      ' </p> ' +
                      ' </div> ' +
                      ' <div class="timeline-body"> ' +
                      ' <p> ' + tweet.tweetText + ' </p> ' +
                      ' </div> </div> </li>';
		  	$('#tweet-feed').append(str);
		  }
	  
	  });
	 </script> 

</body>

</html>
