<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Twitter Sentiment Analysis</title>
  
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link href="/css/jquery-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>
  
  <script>
  $(function() {
    $( "#tabs" ).tabs({
      beforeLoad: function( event, ui ) {
        ui.jqXHR.fail(function() {
          ui.panel.html(
            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
            "If this wouldn't be a demo." );
        });
      }
    });

  $('#tabs').bind('tabsactivate', function(event, ui) { 
	  var index = ui.newTab.index();
	  switch (index){
	    case 2:
	        getAllTweets("pie");
	        break;
	    case 3:
	        getAllTweets("column");
	        break;
	  }
	});
	
	
	function getAllTweets(type) {
        var params = {demoParam:"demoVal"}; 
        
        if(type == "pie") {
	        $.get('/getAllTweets', params, function( data ) {
	        		drawPieChart(JSON.parse(data));
	        });
        } else if (type == "column") {
        	$.get('/getAllTweets', params, function( data ) {
	        		drawColumnChart(JSON.parse(data));
	        });
        }
    }
    
    
    function drawColumnChart(data1) {
    	var tag = ['Negative','Neutral','Positive'];
    	var color = ['#b87333','silver','gold'];
    	var i = 0;
    	var sArray = [['Sentiment', 'Tweets', { role: 'style' }, { role: 'annotation' }]];
    	//var sArray = [['Sentiment', 'Tweets']];
                $.each(data1, function() {
                    var item = [String(this._id), Number.parseInt(this.totalQuantity), color[i], tag[i]];
                    //var item = [String(this._id), Number.parseInt(this.totalQuantity)];
                    sArray.push(item);
                    i = i+1;
                });
        var data = google.visualization.arrayToDataTable(sArray);

          var view = new google.visualization.DataView(data);
      		view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);
	
	      var options = {
	        title: "Twitter Sentiment Analysis",
	        width: 600,
	        height: 400,
	        bar: {groupWidth: "95%"},
	        legend: { position: "none" },
	      };
	      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
	      chart.draw(view, options);
    }
    
    
    function drawPieChart(data1) {
    	var sArray = [["Sentiment","Count"]];
                $.each(data1, function() {
                    var item = [String(this._id), Number.parseInt(this.totalQuantity)];
                    sArray.push(item);
                });
        var data = google.visualization.arrayToDataTable(sArray);

        var options = {
          title: 'Tweet Sentiment Score',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    
  });	
  </script>
</head>
<body>

<header>
<div style="width:100%; height: 70px; background-color:gray"/>
</header>

<div class="container" style="margin-top:20px; margin-bottom: 20px;">
<form class="form-inline" role="form">
  	<div class="form-group">
	    <input type="text" class="form-control" id="query" placeholder="Enter Search Query">
	</div>
	<div class="form-group">
	  	<button type="submit" class="btn btn-default">Submit</button>
  	</div>
</form>
</div>
 
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Preloaded</a></li>
    <li><a href="#tabs-2">Tab 1</a></li>
    <li><a href="#tabs-3">Tab 2</a></li>
    <li><a href="#tabs-4">Tab 3</a></li>
    <li><a href="#tabs-5">Tab 4</a></li>
  </ul>
  <div id="tabs-1">
    <p>Welcome !!!</p>
  </div>
  <div id="tabs-2">
    <p>Tweet Map !!!</p>
  </div>
  <div id="tabs-3">
    <p>Tweet Pie Chart !!!</p>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
  </div>
  <div id="tabs-4">
    <p>Tweet Bar Chart !!!</p>
    <div id="columnchart_values" style="width: 900px; height: 500px;"></div>
  </div>
  <div id="tabs-5">
    <p>Tweets !!!</p>
  </div>
</div>


 </body>
</html>